{extend name="base" /}


{block name="body"}

<section class="lmx-larry-box">

    <div class="lmx-wrapper">

        <div class="tab">

            <blockquote class="quote">
                <ul class="tab-title">
                    <li class="">
                        <i class=""></i>
                        <span>后台菜单</span>
                    </li>
                    <li class="active">
                        <i class=""></i>
                        <span>后台菜单12</span>
                    </li>
                </ul>
            </blockquote>

        </div>

        <div class="list">

        </div>

    </div>


</section>

{/block}


